@font-face {
    font-family: 'insta';
    src: url(fonts/instagram-sans-2-cufonfonts-webfont/Instagram\ Sans.woff);
}
.main{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-gap: 7vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
    
}
.cor{
    color: yellow;
}

.contatos_e_links{
    grid-column: 1;
    grid-row: 1;
    background-color: #a82af16b;
    margin-left: 10vh;
    margin-bottom: 4vh;
    margin-right: 10vh;
    border-radius: 1rem;
    text-align: justify;
    h1{
        font-family: "menu4";
        margin: 4vh;
        font-size: 2.2em;
        color: #FFF67A;
        -webkit-text-stroke: 1px black;
       
    }
    p{
        font-family: "menu5";
        font-size: 1.8rem;
        margin-left: 4vh;
        margin-bottom: 4vh;
        margin-right: 4vh;
    }

  
}

.inputs{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: "menu4";
    padding: 7vh;
    padding-top: 2vh;
    column-gap: 3rem;
    
    

    
}
    .nome{
    grid-column: 1;
    grid-row: 1;
}
.sobrenome {
    grid-column: 2;
    grid-row: 1;
}
.email{
    grid-column: 1;
    grid-row: 2;
}
.telefone{
    grid-column: 2;
    grid-row: 2;
}
.idade{
    grid-column: 1;
    grid-row: 3;
}
.endereco{
    grid-column: 2;
    grid-row: 3;
}
.outros_animais{
    grid-column: 1;
    grid-row: 4;
}
.quantidade{
    grid-column: 2;
    grid-row: 4;
}
.explique{
    grid-column: 1/2;
    grid-row: 5;
    overflow: none;
}

.nome, .sobrenome, .email, .telefone, .idade, .endereco, .outros_animais, .quantidade, .explique{

}


label {
    display: block;
}

input, textarea {
    width: 75%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    height: 35px;
   
  
    
}
