@font-face {
    font-family:"menu" ;
    src: url(happy_paradise/Happy\ Paradise.otf);
}
@font-face {
    font-family: "menu2";
    src: url(fonts/hug_me_tight/Hug\ Me\ Tight\ -\ OTF.otf);
}
@font-face {
    font-family: "menu3";
    src: url(fonts/lemon_milk/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: "menu4";
    src: url(fonts/ready_for_fall/Ready\ For\ Fall.ttf);
}
@font-face {
    font-family: "menu5";
    src: url(fonts/coolvetica/coolvetica\ rg.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/fundo3.png);
    background-attachment: scroll;
    overflow-x: hidden;
}

/* -----------------------------------PRIMEIRA PARTE DA PAGINA---------------------------------------------------- */

.banner img{
    display: flex;
    height: 45vh;
    width: 100%;
}

/* ---------------------------------------SEGUNDA PARTE DA PÁGINA------------------------------------------------------- */

/* Menu com as opcoes de paginas */
.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF67A;
    flex-direction: row;
    font-family: "menu";
    letter-spacing: 0.125rem;
    height: 10%;
    align-items: center;
    margin-bottom: 4rem;
    a{
        display: flex;
        align-items: center;
        color: #603A74;
        display: inline-block;
        padding: 1rem 2rem;
        background-color: #FFF67A;
        text-decoration: none;
        border-radius: 0.3rem;
        transition: background-color 0.3s;
        font-size: 2rem;
        transition: 0.2s;
    }
    a:hover {
        background-color: #603A74;
        color: #FFF67A;
        font-size: 2.1rem;
    }
}

/* ----------------------------------------------------TERCEIRA PARTE DA PAGINA-------------------------------------------------------- */

/* Primeiro bloco com texto e imagem, primeira div */
.main{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-gap: 7vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
    
}


/* Texto sobre o projeto, primeiro bloco */
.projeto{
    grid-column: 1;
    grid-row: 1;
    background-color: #a82af16b;
    margin-left: 10vh;
    margin-bottom: 4vh;
    margin-right: 10vh;
    border-radius: 1rem;
    h1{
        font-family: "menu4";
        margin: 4vh;
        font-size: 2rem;
        color: #FFF67A;
        -webkit-text-stroke: 1px black;
    }
    p{
        font-family: "menu5";
        font-size: 1.5rem;
        margin-left: 4vh;
        margin-bottom: 4vh;
        margin-right: 4vh;
    }
}


/* Primeira imagem, segundo bloco */
.imagem{
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    img{
        border-style: groove;
        border-color: #FFF67A;
        border-radius: 1rem;
        height: 28rem;
        max-width: 100vh
    }
}


/* -----------------------------------------------QUARTA PARTE DA PAGINA----------------------------------------------------- */

/* Segundo bloco com texto e imagem, segunda div pai */
.main2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5rem;
    margin-top: 5vh;
    margin-bottom: 10vh;
    h1{
        font-family: "menu4";
        color: #FFF67A;
        -webkit-text-stroke: 1px black;
        margin: 4vh;
        font-size: 2rem;
    }
    p{
        font-family: "menu5";
        font-size: 1.5rem;
        margin-left: 4vh;
        margin-bottom: 4vh;
        margin-right: 4vh;
    }
}

/* Bloco de texto sobre as doações */
.doacoes{
    margin-left: 10vh;
    grid-column: 1;
    grid-row: 1;
    background-color: #a82af16b;
    border-radius: 1rem;
}

/* Bloco de texto sobre voluntarios */
.voluntario{
    margin-right: 10vh;
    grid-column: 2;
    grid-row: 1;
    background-color: #a82af16b;
    border-radius: 1rem;
}



/* -----------------------------------------------------------RODAPE------------------------------------------------------ */

.rodape{
    display: grid;
    grid-template-areas: 
        "adote colabore contato"
        "redes redes redes"
        "ptn ptn ptn";
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background-color: #603A74;
    height: 20rem;
    padding-top: 3rem;
    a{
        text-decoration: none;
        color: white;
        font-size: large;
    }
    p{
        margin-top: 0.4rem;
        color: white;
        font-size: small;
    }

}
.link1, .link2, .link3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes{
    grid-area: redes;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    img{
        color: white;
    }
}

.ong{
    grid-area: ptn;
    display: flex;
    justify-content: center;
    
    h3{
        align-content: center;
        color: white;
    }
}