/* --- grid da primeira linha --- */

@font-face {
    font-family: 'insta';
    src: url(fonts/instagram-sans-2-cufonfonts-webfont/Instagram\ Sans.woff);
}
.main{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-gap: 7vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
    
}
.cor{
    color: yellow;
}

/* --- bloco texto um --- */
.projeto{
    grid-column: 1;
    grid-row: 1;
    background-color: #a82af16b;
    margin-left: 10vh;
    margin-bottom: 4vh;
    margin-right: 10vh;
    border-radius: 1rem;
    text-align: justify;
    h1{
        font-family: "menu4";
        margin: 4vh;
        font-size: 2.2em;
        color: #FFF67A;
        -webkit-text-stroke: 1px black;
       
    }
    p{
        font-family: "menu5";
        font-size: 1.8rem;
        margin-left: 4vh;
        margin-bottom: 4vh;
        margin-right: 4vh;
    }

  
}


/* --- bloco da imagem em cima --- */
.imagem{
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    img{
        border-style: groove;
        border-color: #FFF67A;
        border-radius: 1rem;
        height: 28rem;
        max-width: 100vh
    }
}


/* ---- grid da segunda linha ----- */
.main2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5rem;
    margin-top: 5vh;}
    h1{
        font-family: "menu4";
        color: #FFF67A;
        -webkit-text-stroke: 1px black;
        margin: 4vh;
        font-size: 2.2rem;
    }
    p{
        font-family: "menu5";
        font-size: 1.8rem;
        margin-left: 4vh;
        margin-bottom: 4vh;
        margin-right: 4vh;
    }

    li{
        margin-left: 4rem;
        margin-bottom: 5px;
        font-family: "menu5";
        font-size: 1.8rem;
     

        
    }

  

/* --- bloco doacoes --- */
.doacoes{
    margin-left: 10vh;
    grid-column: 1;
    grid-row: 1;
    background-color: #a82af16b;
    border-radius: 1rem;
}

/* --- bloco voluntários --- */
.voluntario{
    margin-right: 10vh;
    grid-column: 2;
    grid-row: 1;
    background-color: #a82af16b;
    border-radius: 1rem;

    

.botao{
    
    display: flex;
    justify-content: center;
    border: none;



    button{
        height: 3rem;
        width: 18rem;
        font-size: 1.8rem;
        font-family:'menu';
        background-color: #FFF67A;
        color: #603a75;
        transition: 0.2s;
        border-radius: 1rem;
        
        
        
    }

    button:hover{
        height: 3.1rem;
        width: 18.5rem;
        font-size: 1.9rem;
        font-family:'menu';
        background-color: #e2d95d;
        color: #603a75;
        letter-spacing: 1px;
        border-radius: 1rem;
        
    }
}
}



