@font-face {
    font-family:"menu" ;
    src: url(happy_paradise/Happy\ Paradise.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/fundo3.png);
    background-attachment: scroll;
    max-width: 1920px;
    width: 1903px;
}
.banner img{
    display: flex;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF67A;
    flex-direction: row;
    font-family: "menu";
    letter-spacing: 2px;
    height: 80px;
    align-items: center;

    
    a{
        display: flex;
        align-items: center;
        color: #603A74;
        display: inline-block;
        padding: 15px 30px;
        background-color: #FFF67A;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-size: 32px;
        transition: 0.2s;
    }
    a:hover {
        background-color: #603A74;
        color: #FFF67A;
        font-size: 34px;
    }
}
/* Ajustes do grid. Onde cada coisa vai ficar. */
.titles{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}

p{
    margin-left: 65px;
    font-size: 25px;
}

h1{
    margin-top: 1rem;
    margin-left: 65px;
    margin-bottom: 40px;
    font-family: "menu";
    color: #FFFFFF;
    font-size: 35px;
}

.texto{
    background-color: #a82af16b;
    border-radius: 1rem;
    width: auto;
    margin-left: 156px;
    grid-column: 1;
    grid-row: 1;
}

.imagem{
    display: flex;
    height: 450px; 
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    img{
        border-radius: 1rem;
        height: 100%;
        width: auto;
    }
}
.titles2{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
}

p{
    margin-left: 65px;
    font-size: 25px;
}

h1{
    margin-top: 1rem;
    margin-left: 65px;
    margin-bottom: 40px;
    font-family: "menu";
    color: #FFFFFF;
    font-size: 35px;
}

.texto2{
    background-color: #a82af16b;
    border-radius: 1rem;
    width: auto;
    margin-right: 156px;
    grid-column: 2;
    grid-row: 1;
}

.imagem2{
    display: flex;
    height: 450px; 
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    img{
        border-radius: 1rem;
        height: 100%;
        width: auto;
    }
}