/* --PROCESSO DE ADOCAO-- */

.Guia{
    display: flex;
    flex-direction: column;
    background-color: #a82af16b;
    background-size: auto;
    text-align: justify;
    margin-left: 15vh;
    margin-right: 15vh;
    border-radius: 3rem;
    padding: 3rem;
    text-align: justify;
    h1{
        font-size: 2.3rem;
        margin-bottom: 1rem;
        font-family: "menu4";
        color: #FFF67A;
        -webkit-text-stroke: 1px black;
    }
    p{
        font-size: 2rem;
        padding: 0.2rem;
        font-family: "menu5";

    }
}

.gridtitle{
    display: flex;
    background-color: #a82af16b;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    margin-left: 80vh;
    margin-right: 80vh;
    border-style: groove;
    border-color: #FFF67A;
    h1{
        font-family: "menu4";
        -webkit-text-stroke: 1px black;
        color: #FFF67A;
        padding: 1rem;

    }
}

.fotos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
    border-radius: 3rem;
    .foto1{
        display: flex;
        grid-column: 1;
        grid-row: 1;
        flex-direction: column;
        border-radius: 5rem;
        align-items: center;
        justify-self: center;
        width: 15rem;
        justify-items: center;
        border-style: groove;
        border-color: #FFF67A;
        background-color: #a82af16b;
        img{
            display: flex;
            width: 30rem;
        }
        h2{
            display: flex;
            text-align: center;
            margin-bottom: 1.3rem;
        }
    }
    .foto2{
        display: flex;
        grid-column: 2;
        grid-row: 1;
        flex-direction: column;
        img{
            width: 30rem;
        }
    }
    .foto3{
        display: flex;
        grid-column: 3;
        grid-row: 1;
        flex-direction: column;
        img{
            width: 30rem;
        }
    }
    .foto4{
        display: flex;
        grid-column: 4;
        grid-row: 1;
        flex-direction: column;
        img{
            width: 30rem;
        }
    }
    .foto5{
        display: flex;
        grid-column: 1;
        grid-row: 2;
        flex-direction: column;
        img{
            width: 30rem;
        }
    }
    .foto6{
        display: flex;
        grid-column: 2;
        grid-row: 2;
        flex-direction: column;
        img{
            width: 30rem;
        }
    }
    .foto7{
        display: flex;
        grid-column: 3;
        grid-row: 2;
        flex-direction: column;
        img{
            width: 30rem;
        }
    }
    .foto8{
        display: flex;
        grid-column: 4;
        grid-row: 2;
        flex-direction: column;
        img{
            width: 30rem;
        }
    }
}

